.tab-buttons{
    grid-area: 1/1/-1/-1;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 10px;

    position: fixed;
    top: 55px;
    left: 75px;
    right: 0;

    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 75px;

    background-color: white;
    z-index: 100;
}

.tab-button {
    font-weight: 550;
    color: rgba(43, 42, 42, 0.8);
    font-size: 13px;
    background-color: #f1f1f1;

    border: none;
    border-radius: 6px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

    white-space: nowrap;
    max-width: 150px;

    margin-top: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: opacity 1s;
}

.tab-button:hover{
    background-color: #d6d6d6;
}

.tab-button.active {
    background-color: #4e4d4d;
    color: white;
}